

gunicorn==20.1.0
Flask==2.0.3
keras==2.8.0
Keras-Preprocessing==1.1.2
libclang==13.0.0
numpy==1.22.3
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
pandas==1.4.1
typing_extensions==4.1.1
urllib3==1.26.9
virtualenv==20.13.4
Werkzeug==2.0.3
wrapt==1.14.0